[Unit]
Description=n0stack backup daemon. specify ip address.

[Service]
ExecStart=/usr/bin/rsync -av -e "ssh -i /fio/sl2500-root.key" root@%i:/var/lib/n0core /fio/%i/
Type=simple
