[Unit]
Description=n0stack backup daemon without blockstorage. specify ip address.

[Service]
ExecStart=/usr/bin/rsync -av -e "ssh -i /fio/sl2500-root.key" --exclude={'n0core/block_storage'} root@%i:/var/lib/n0core /fio/%i/
Type=simple
