[Unit]
Description=n0stack backup daemon timer

[Timer]
OnCalendar=*:00
Persistent=true
Unit=n0stack-backup@%i.service

[Install]
WantedBy=timer.target
